.top-banner {
    background-color: #5AA6A6;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.navbar {
    background-color: #F1F1F1;
    padding: 15px;
}
.navbar-brand img {
    height: 40px;
}
.content {
    height: 400px;
    background-color: white;
}
